# This is a reserved spot for most properties containing passwords or other secrets.
# Created by install at 2022-10-13T05:11:10.284144Z

# Access to internal AES encryption key
idp.sealer.storePassword = cookiepass
idp.sealer.keyPassword = cookiepass

# Default access to LDAP authn and attribute stores.
idp.authn.LDAP.bindDNCredential              = {{ ldap_bind_dn_password }}
idp.attribute.resolver.LDAP.bindDNCredential = %{idp.authn.LDAP.bindDNCredential:undefined}

# Salt used to generate persistent/pairwise IDs, must be kept secret
idp.persistentId.salt = changethistosomethingrandom
